<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="FromEmail" value="tanth-pm20@student.tarc.edu.my" />
    <add key="FromPassword" value="Tzehong112002" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="RecaptchaSecretKey" value="6LfJUNslAAAAADSC7im1g7ZZWAEfqZF1j6Z5yaOY" />
  </appSettings>
  <connectionStrings>
    <add name="MYConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SystemDBA.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <siteMap defaultProvider="oldProvider">
      <providers>
        <clear />
        <add name="oldProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" />
        <add name="adminProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="AdminSide/admin.sitemap" />
        <add name="organizationProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="organizationSide/organization.sitemap" />
      </providers>
    </siteMap>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>