body, select, input, table {
    font: 16pt Calibri;
}

.container {
    width: 50%;
    margin: 0 auto;
    box-shadow: 5px 10px;
    padding: 50px 100px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.btnBan {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: #FF0000;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

    .btnBan:hover {
        background: #FFFFFF;
        border: 1px solid #FF0000;
        color: #FF0000;
    }

.btnCancel {
    width: 100px;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;
    background: #4169E1;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

    .btnCancel:hover {
        background: #FFFFFF;
        color: #4169E1;
        border: 1px solid #4169E1;
    }

p {
    font-weight: bold;
}
