.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.otak h1{
    text-align:center;
    color: darkred;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 18px;
    color: darkred;
}

input[type="text"], textarea {
    padding: 5px;
    margin: 5px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid darkred;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    resize: none;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

